/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/src/Entity/Article.php
/src/Entity/ArticleBcn.php
/src/Entity/Bcn.php
/src/Entity/Crb.php
/src/Entity/Etat.php
/src/Entity/Exercice.php
/src/Entity/Facture.php
/src/Entity/FondType.php
/src/Entity/Fournisseur.php
/src/Entity/Renouvellement.php
/src/Entity/Service.php
/src/Entity/Solde.php
/src/Entity/User.php
/.idea