[InputFormGroup]{
  margin-bottom: 15px;
}

.DimVisible{
  display: block !important;
}

.DimInvisible{
  display: none;
}

.inputError{
  border-color: #62484b;
  border-style: dotted;
}

[msg]{
  display: inline-block;
  font-size: 14px;
  color: red;
  float: right;
}