<div class="row" full-heigth full-heigth-all-child>

    <div class="listWarp col-md-12  showElement" full-heigth full-heigth-all-child  >
        <ngx-list #list (fireAction)="doAction($event)"   (fireCretateAction)="createAction($event)"></ngx-list>
    </div>

    <div class="formWarp col-md-0 hideElement" full-heigth full-heigth-all-child >
        <ngx-form (refrechMainView)="refrechView()" #form></ngx-form>
    </div>

    <div class="printWarp col-md-0 hideElement" full-heigth full-heigth-all-child >
        <ngx-print (refrechMainView)="refrechView()" #print></ngx-print>
    </div>

    <ngx-smart-modal #messageModal identifier="messageModal" customClass="medium-modal" (click)="stopClick($event)">
        <h1>System AGL</h1>
        <div *ngIf="messageModal.hasData()">
            <pre>{{ messageModal.getData()}}</pre>
        </div>
        <button type="button" nbButton size="xsmall" (click)="messageModal.close()">Close</button>
    </ngx-smart-modal>



</div>
