<nb-card full-heigth full-heigth-all-child>

    <nb-card-header>
        <div class="row">
            <div class="col-md-2" title>{{listTtile}}</div>
            <div class="col-md-7">
                <ngx-dimention   (filterChange)="setDemFilter($event)"  #dimention ></ngx-dimention>
            </div>
            <div class="col-md-3">

                <button style="margin-right: 5px;" class="pull-right" (click)="refrechListData()" nbButton size="small">
                  Actualiser
                </button>
                <button *ngIf="createAction!==null" style="margin-right: 5px;" class="pull-right" (click)="doCreateAction()" nbButton size="small">
                    {{createAction.actionName}}
                </button>
            </div>
        </div>
    </nb-card-header>


    <nb-card-body style="padding-top: 0px;">

        <table class="table table-striped table-condensed" data-toggle="table">
            <thead>
            <tr>
                <th *ngFor="let fld of field">{{fld.fieldInterfaceName}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of listData">
                <td *ngFor="let fld of field">
                    <span *ngIf="fld.fieldType !== 'datetime' && !isStepperField(fld)" >{{data[fld.fieldEntityName]}}</span>
                    <span *ngIf="fld.fieldType == 'datetime' && !isStepperField(fld) && data[fld.fieldEntityName]!='-'" >{{data[fld.fieldEntityName] | date:'dd/MM/yyyy' }}</span>
                    <span *ngIf="fld.fieldType != 'datetime' && isStepperField(fld)" >{{data[fld.fieldEntityName] | step:step }}</span>
                </td>
                <td *ngIf="getStepActionCount(data) > 0">
                    <button style="margin-right: 3px;" *ngFor="let act of getStepAction(data)" class="pull-right" (click)="doAction(act,data)"
                            status="info"   nbButton size="xsmall"><i style="font-size: 14px;" class="fa fa-paper-plane" ></i> {{act.actionName}}
                    </button>
                    <button style="margin-right: 3px;" *ngFor="let lst of getStepList(data)" class="pull-right" (click)="doRepport(lst,data)"
                            nbButton status="success"  size="xsmall"> <i style="font-size: 14px;" class="fa fa-list" ></i> {{lst.listName}}
                    </button>
                </td>
            </tr>

            </tbody>
        </table>

    </nb-card-body>

</nb-card>