<div class="row">
<div class="col-md" *ngFor="let entDimData of entityDimData" containerFlex>

  <div inlineelement style="font-size: 1rem;" >
    {{entDimData.param.entityInterfaceName}}
  </div>
  <div inlineelement>
    <ngx-autocombo (valueChange)="goToSearch($event)" [entity]="entDimData.param.entityEntity" [(value)]="entDimData.data" ></ngx-autocombo>
  </div>


</div>

  <div class="col-md" *ngFor="let fldDimData of fieldDimData" containerFlex>

    <div inlineelement style="font-size: 1rem;" >
      {{fldDimData.param.fieldInterfaceName}}
    </div>
    <div inlineelement *ngIf="fldDimData.param.fieldType !== 'datetime' && fldDimData.param.fieldEntityName != steppedField" >
      <input (keyup)="goToSearch($event)" nbInput  fieldSize="xsmall"  [(ngModel)]="fldDimData.data" >
    </div>
   <div inlineelement *ngIf="fldDimData.param.fieldType == 'datetime'" >
      <input (Change)="goToSearch($event)" nbInput [dpDayPicker]="datePickerConfig"  fieldSize="xsmall"  [(ngModel)]="fldDimData.data" >
  </div>

    <div inlineelement *ngIf="fldDimData.param.fieldEntityName == steppedField"  >
     <select (change)="goToSearch($event)" nbInput    fieldSize="xsmall"  [(ngModel)]="fldDimData.data" >
          <option [value]="" >-</option>
          <option *ngFor="let stp of steps" [value]="stp.stepId" >{{stp.stepName}}</option>
     </select>
    </div>



  </div>
</div>